<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{homepage/parts/layout}">
<head>
<title>Chi tiết sản phẩm</title>
</head>
<body>
	<div class="container-product" layout:fragment="content" ng-controller="DetailController" id="contentProduct">
        
        <div class="row" style="background-color: #fff;margin: 0">
            <div class="col-lg-5 col-md-6 col-sm-6 col-12">
                <div class="mySlides" style="display:block" >
                    <img style="width:100% ;height: 100%;" data-zoom-image="/img/uploads/{{product.avatar}}" id="img_1" ng-src="/img/uploads/{{product.avatar}}" >
                </div>
                <div class="mySlides" ng-repeat="img in listImages" style="display: none">
                    <img style="width:100% ;height: 100%;" ng-src="/img/uploads/{{img.path}}"  id="img_{{$index+2}}" data-zoom-image="/img/uploads/{{img.path}}">
                </div>


                <a class="prev" onclick="plusSlides(-1)">❮</a>
                <a class="next" onclick="plusSlides(1)">❯</a>
                <div class="row-image">
                    <div class="column-image">
                        <img ng-src="/img/uploads/{{product.avatar}}" id="1" class="demo cursor active" style="width:100%;height: 60px;" onclick="currentSlide(this.id)" ng-click="changeImage(product.avatar)" alt="">
                    </div>
                    <div class="column-image" ng-repeat="img in listImages" >
                        <img  ng-src="/img/uploads/{{img.path}}" id="{{$index+2}}" ng-click="changeImage(img.path)" class="demo cursor" style="width:100%;height: 60px;" onclick="currentSlide(this.id)" alt="">
                    </div>
                    <div class="column-image display-image-360" ng-if="listImage.length > 0">
                        <img  ng-src="/images/360-degrees.svg" class="demo cursor" ng-click="open360()" style="width:100%;height: 60px;"  alt="">
                    </div>
                </div>  
            </div>
            <div class="col-lg-7 col-md-6 col-sm-6 col-12">
               <!--  <div id="myresult" class="img-zoom-result"></div> -->

                <div class="product-cart">
                    <table class="table table-borderless">
                    <tr>
                        <td><span class="detail-tilte-item">{{product.name}}</span></td>
                    </tr>
                    <tr>
                        <table class="table table-borderless table-custom-responsive">
                            <tr>
                                <td>
                                    <span class="detail-content-item">Thuộc người đăng : 
                                        <a ng-href="/noithat246.vn/store/{{product.stores.name}}?store={{product.stores.id}}" style="color: #fea100; font-size: 16px">{{product.stores.name}}</a>
                                    </span> 
                                </td>
                                <td class="detail-content-item">
                                    <span>Nhà sản xuất: </span>
                                    <span>{{product.producers.name}}</span>
                                </td>   
                            </tr>
                            <tr>
                                <td class="detail-content-item">
                                    <span>Vật liệu: </span>
                                    <span>{{product.materials.name}}</span>
                                </td>
                                 <td class="detail-content-item">
                                    <span>Xuất xứ: </span>
                                    <span>{{product.origins.name}}</span>
                                </td>
                            
                            </tr>
                            <tr>
                                <td class="detail-content-item">
                                    <p ng-if="product.inventory_number <= 0 || product.status == 0" style="color: red;font-size: 16px; font-weight: 500;">Sản phẩm đã hết hàng</p>
                                    <span class="detail-content-item" ng-if="product.inventory_number >0">Số lượng còn lại : {{product.inventory_number}}</span>
                                </td> 
                            </tr>
                            <tr>
                              
                                <td>
                                    <span class="detail-content-item" >Giá : 
                                        <i style="text-decoration: line-through;" ng-if="product.price != product.price_new">{{product.price| currency: "":0}}đ</i>
                                    </span>
                                    <span class="detail-content-item" style="color:red;">
                                        {{product.price_new| currency: "":0}}đ
                                    </span>
                                </td>
                                <td>
                                    <span style="color: #242424; font-family: 'UTMCafetaRegular'">Khuyến mãi kết thúc sau:</span>
                                    <span style="color: #242424; font-family: 'UTMCafetaRegular';" id="timeCountDown"></span>
                                </td>
                            </tr> 
                           
                            <tr>

                                <td ng-if="product.avgstart == 0 ">
                                    <span class="detail-content-item">Đánh giá : chưa có đánh giá</span>
                                </td>
                                <td ng-if="product.avgstart != 0 ">
                                    <span class="detail-content-item">Đánh giá : </span>
                                    <span id="rateYoProduct"></span>
                                </td>  
                                <td ng-if="product.status == 0">
                                    <p>Sản phẩm tạm hết hàng.</p>
                                </td>  
                            </tr>
                            <tr ng-if="product.inventory_number > 0 && product.status == 1">
                                <td>
                                    
                                    <form name="frmkm" class="form-horizontal">
                                        <input type="number" class="form-control" style="width: 100px;margin-bottom:5px; " name="quantity" id="quantity" max="10" ng-model="quantityOrderDetail" min="1">    
                                    </form>
                                    <button class="btn btn-theme-yellow" style="display: inline-block;" ng-click="muahang()">Thêm vào giỏ hàng</button>
                                    <button class="btn btn-theme-orange" style="display: inline-block;" ng-click="muangay()">Mua ngay</button>
                                </td>
                            </tr>
                        </table>                            
                    </tr>
                </table>
                </div>   
            </div>

            
        </div>
<!--Thông tin chi tiết-->
      
        <div class="col-md-12" style="background-color: #fff; margin: 20px 0;">
            <div class="product-header">
                <h3 class="tilte-deal-black">
                    Mô tả sản phẩm
                </h3>
            </div>
            <div ng-bind-html="product.description" class="overflow-detail-product"></div>
            <div class="product-footer">
                <a href="javascript:void(0)" class="show-more"> Xem thêm</a>
                <a href="javascript:void(0)" class="product-footer close-show-more" style="display: none"> Thu gọn nội dung</a>
            </div>
           
        </div>

<!--Nhận xét-->
        
        <div class="col-md-12" style="margin:20px 0px;background-color: #fff">
            <div class="product-header">
                <h3 class="tilte-deal-black">
                    Khách hàng nhận xét
                </h3>
                <h4 class="title-view-all"><a href="/noithat246.vn/san-pham/tat-ca-danh-gia?productid={{product.id}}">Xem tất cả</a></h4>
            </div>
            <!-- Hiển thị nhận xét -->
            <div class="review-list">
                <div class="review-item" ng-if="reviews.length > 0" ng-repeat="review in reviews">
                    <div class="review-col-left">
                        <p class="review-name">{{review.user.customer.name}}</p>
                        <p class="review-time">{{review.created_at| date: "dd-MM-yyyy 'at' h:mma ":'UTC' }}</p>
                    </div>
                    <div class="review-col-right">
                        <div class="review-info">
                            <div class="rating">
                                <rate-yo rating="review.rating"></rate-yo>
                                <p class="buy-already"><i class="fa fa-check-circle-o" style=""></i> Đã mua sản phẩm này tại Noithat246</p>
                            </div>
                            <div class="review-content">
                                <p>{{review.content}}</p>
                            </div>

                        </div>
                    </div>
                </div>
                
            </div>
            <div ng-if="reviews.length <= 0"  style="text-align: center;">
                <img  ng-src="/images/smile.svg" alt="" style="width: 50px;height: 50px">
                <p>Hiện chưa có nhận xét nào cho sản phẩm.</p>
                <p>Cho người khác biết ý kiến của bạn và trở thành người đầu tiên nhận xét sản phẩm này.</p>
            </div>
        </div>
<!--Hỏi đáp về sản phẩm-->
        <div class="col-md-12" style="margin:20px 0px;background-color: #fff">
            <div class="product-header">
                <h3 class="tilte-deal-black">
                    Hỏi đáp về sản phẩm
                </h3>
                <h4 class="title-view-all"><a href="/noithat246.vn/san-pham/tat-ca-cau-hoi?productid={{product.id}}">Xem tất cả</a></h4>
            </div>
            <!-- Hiển thị nhận xét -->
            <ul class="qna-list" >
                <li class="qna-item" ng-if="questions.length > 0" ng-repeat="question in questions">
                    <div class="qna-item-group">
                        <span class="qna-icon qna-icon-q">Q</span>
                        <div class="qna-content">{{question.content}}</div>
                        <div class="qna-meta" ng-if="question.user.customer != null">{{question.user.customer.name}} - {{question.created_at| date: "dd-MM-yyyy 'at' h:mma ":'UTC' }}</div>
                        <!-- <div class="qna-meta" ng-if="question.user.store != null">{{question.user.store.name}} - {{question.created_at| date: "dd-MM-yyyy 'at' h:mma ":'UTC' }}</div> -->
                    </div>
                    <div class="qna-item-group" >
                        <span class="qna-icon qna-icon-a">A</span>
                        <div class="qna-content">{{question.answers[0].content}}</div>
                        <div class="qna-meta">{{question.answers[0].stores.name}} - {{question.answers[0].created_at| date: "dd-MM-yyyy 'at' h:mma ":'UTC' }}</div>
                    </div>
                </li>
            </ul>
            <div ng-if="questions.length <= 0" style="text-align: center;">
                <img  ng-src="/images/discuss-issue.svg" alt="" style="width: 50px;height: 50px">
                <p>Chưa có câu hỏi cho sản phẩm này.</p>
                <p><a ng-href="/noithat246.vn/dang-nhap" style="color:#fea100">Đăng nhập</a> hoặc <a ng-href="/noithat246.vn/dang-nhap" style="color: #fea100">Đăng ký</a> để đặt câu hỏi cho nhà bán hàng ngay và câu trả lời sẽ được hiển thị tại đây.</p>
            </div>
            <div class="qna-form" sec:authorize="isAuthenticated()">
                <p class="form-qna">
                    <input type="text" ng-model="question" class="form-control" placeholder="Hãy đặt câu hỏi của bạn...">
                    <button class="btn btn-add-question" ng-click="cauHoi()">Gửi câu hỏi</button>
                </p>
            </div>

        </div>

<!--Sản phẩm liên quan-->
        
         <div class="resCarousel" style="margin:20px 0;background-color: #fff" data-items="2-3-4-5" data-slide="1"  data-interval="4000" data-load="3" data-animator="lazy">
            <div class="product-header">
                <h3 class="tilte-deal-black">
                    Sản phẩm liên quan
                </h3>
            </div>
            <div class="resCarousel-inner" id="eventLoad">

                <div class="item" ng-repeat="proRelated in productRelated">
                    <a ng-href="/noithat246.vn/chi-tiet-san-pham/{{proRelated.id}}"  title="{{proRelated.name}}">
                        <div class="tile">
                            <div class="item-image">
                                <img ng-src="/img/uploads/{{proRelated.avatar}}" alt="">
                            </div>
                            <div class="item-name-carousel" ng-if="proRelated.price_new != proRelated.price">
                                <div class="product-title-carousel">{{proRelated.name}} </div>
                                <span class="product-price-carousel">{{proRelated.price_new | currency: "":0}}đ</span>
                                <span class="product-sales-off-carousel">{{proRelated.price | currency: "":0}}đ</span>
                                <span class="ribbon-carousel">{{((proRelated.price - proRelated.price_new)/proRelated.price)*100}}%</span>
                            </div>
                            <div class="item-name-carousel" ng-if="proRelated.price_new == proRelated.price">
                                <div class="product-title-carousel">{{proRelated.name}} </div>
                                <span class="product-price-carousel">{{proRelated.price_new | currency: "":0}}đ</span>
                                <span class="product-sales-off-carousel"></span>
                                <span class="ribbon-carousel"></span>
                            </div>
                            <div class="product-rating-position">
                                <div class="product-rating" ng-if="proRelated.avgstart > 0"><rate-yo-product rating="proRelated.avgstart" ></rate-yo-product></div>
                                <div class="product-position">{{proRelated.stores.province.name}}</div>
                            </div>
                        </div>
                    </a>
                    
                </div>
                
            </div>
            <button class='btn btn-default leftRs'><</button>
            <button class='btn btn-default rightRs'>></button>
        </div>
    </div> <!-- End Container-product -->
</body>
<section layout:fragment="script">
    <script th:src="@{/js/jquery.elevatezoom.js}"></script>
    <script th:src="@{/js/resCarousel.js}"></script>
    <script th:src="@{/js/spritespin.js}"></script>
    <script th:src="@{/js/angularjs/controller/DetailController.js}"></script>
   
    <script>

        var slideIndex = 1;
        showSlides(slideIndex);

        function plusSlides(n) {
            showSlides(slideIndex = Number(slideIndex) + n);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            jQuery( ".zoomContainer" ).remove();
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");
            if (n > slides.length) {slideIndex = 1}
            if (n < 1) {slideIndex = slides.length}
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = " block";
            dots[slideIndex-1].className += " active";
            
            if(screen.availWidth > 768){
                console.log(screen.availWidth);
                if(n ==1) {
                    setTimeout(function() {
                        jQuery("#img_"+n).elevateZoom({
                            zoomWindowFadeIn: 500,
                            zoomWindowFadeOut: 500,
                            scrollZoom: true,
                            lensFadeIn: 500,
                            lensFadeOut: 500,
                            lensSize : 200,
                            responsive: true
                        });
                    }, 700);
                }
                else{
                    jQuery("#img_"+n).elevateZoom({
                            zoomWindowFadeIn: 500,
                            zoomWindowFadeOut: 500,
                            scrollZoom: true,
                            lensFadeIn: 500,
                            lensFadeOut: 500,
                            lensSize : 200,
                            responsive: true
                        });
                } 
            }
           
        }

        ResCarouselCustom();
        var pageRefresh = true;
        
    </script>
</section>

</html>


