<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{homepage/parts/layout}">
<head>
<title>Content</title>
</head>
<body>
	<div class="container-product" layout:fragment="content" ng-controller="UpdatePasswordController">
        <div th:if="${success} != null" class="col-md-6 offset-md-3 card" style="min-height: 200px; background-color: #fff; padding: 20px 0">
        	<div class="alert alert-danger" role="alert" ng-if="errors.length > 0">
				<p ng-repeat="error in errors">{{error}}</p>
			</div>
        	<div style="margin: 0 20px; padding: 20px 0; border-bottom: 1px solid rgb(244, 244, 244);">
                <h3 class="title-deal">
                    Cập nhật mật khẩu
                </h3>
                <p>Vui lòng điển đầy đủ thông tin để cập nhật mật khẩu của bạn. Mật khẩu phải có độ dài ít nhất 8 kí tự!</p>
            </div>
			<div style="margin: 0 20px">
				<form name="frmkm" >
					<div class="form-group-custom">
					 	<label>Mật khẩu <span class="help-block">*</span></label>
					  	<input type="password" class="color-input-custom" ng-model="info.password" name="password" placeholder="Nhập mật khẩu" required="true">
					  
					  	<div  ng-show="frmkm.$submitted || frmkm.password.$touched">
					      	<span id="helpBlock2" class="help-block" ng-show="frmkm.password.$error.required">Vui lòng nhập mật khẩu</span>
					    </div>
					</div>
					<div class="form-group-custom">
					 	<label>Nhập lại mật khẩu <span class="help-block">*</span></label>
					  	<input type="password" class="color-input-custom" ng-model="info.repassword" name="repassword" ng-Blur="compare()" placeholder="Nhập mật khẩu" required="true">
					  	

					  	<div  ng-show="frmkm.$submitted || frmkm.repassword.$touched">
					  		<span id="helpBlock2" class="help-block" ng-show="inputError">Mật khẩu không trùng nhau</span>
					      	<span id="helpBlock2" class="help-block" ng-show="frmkm.repassword.$error.required">Vui lòng nhập mật khẩu</span>
					    </div>
					</div>
					<button style="float: right" type="button" class="btn btn-warning" ng-click="updatePass()" ng-disabled="frmkm.$invalid">Đổi mật khẩu</button>
				</form>
			</div>
		  
		</div>
    </div> <!-- End Container-product -->
</body>
<section layout:fragment="script">
	<script th:src="@{/js/angularjs/controller/UpdatePasswordController.js}"></script>
    <script>
        
    </script>
</section>

</html>


