<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{admin/parts/layout}">
<head>
<title>Quản lý tài khoản bán hàng</title>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<section layout:fragment="content">

		<div style="padding: 20px;">
			<h2>Quản lý tài khoản bán hàng</h2>
		</div>


		<div class="content" ng-controller="ManageStoreController">
			<div class="animated fadeIn">
				<div class="row">
					<div class="col-md-12">
						<div class="card">
							<div class="card-header">
								<strong class="card-title">Danh sách tài khoản bán hàng</strong>
							</div>
							<div class="card-body">
								<table id="bootstrap-data-table-export"
									class="table table-bordered table-hover text-center" dt-options="dtOptions" dt-columns="dtColumns" datatable="ng">
									<thead class="thead-light">
										<tr>
											<th>STT</th>
											<th>Tên CH</th>
											<th>Tài khoản sử dụng</th>
											<th>Thông tin liên hệ</th>
											<th>Trạng thái</th>
											<th></th>
										</tr>
										
									</thead>

									<tbody>
										<tr ng-repeat= "store in listStore | filter : {id : '!1'}">
											<td>{{$index+1}}</td>
											<td>{{store.name}}</td>
											<td>{{store.users.email}}</td>
											<td style="text-align: left;">
												<p style="color:#000;"><b>Địa chỉ:</b> {{store.address}},{{store.ward.name}},{{store.district.name}},{{store.province.name}}</p>
												<p style="color:#000;"><b>SĐT:</b> {{store.phone}}</p>
												<p style="color:#000;" ng-if="store.website != null"><b>website:</b> {{store.website}}</p>
											</td>
											<td ng-if="store.status == 0" style="color: blue">Đang chờ duyệt</td>
											<td ng-if="store.status == 1" style="color: green">Đã duyệt</td>
											<td ng-if="store.status == 2" style="color: red">Đã từ chối</td>
											<td ng-if="store.status == 3" style="color: #ffc107">Tạm khóa</td>
											<td style="width: 16%;">
												<button ng-if="store.status == 0" class="btn btn-outline-success" ng-click="xacNhan(store.id,store.name,'1')">
													Duyệt
												</button>
												<button ng-if="store.status == 0" class="btn btn-outline-danger" ng-click="xacNhan(store.id,store.name,'2')">
													Hủy
												</button>
												<button ng-if="store.status == 1" class="btn btn-outline-warning" ng-click="xacNhan(store.id,store.name,'3')">
													Khóa
												</button>
												<button ng-if="store.status == 3" class="btn btn-outline-info" ng-click="xacNhan(store.id,store.name,'1')">
													Mở khóa
												</button>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
					</div>


				</div>
			</div>
			<!-- .animated -->

		</div>
		<!-- .content -->

	</section>
</body>
</html>

<script th:src="@{/js/angularjs/controller/ManageStoreController.js}"></script>
