<div class="footer" layout:fragment="footer">
    <div class="row" style="padding: 20px 40px 0 40px;">
        <div class="col-md-4">
            <p class="footer-header">Hỗ trợ khách hàng</p>
            <div class="list-item-footer">
                <ul>
                    <li>Hướng dẫn mua hàng</li>
                    <li>Chăm sóc khách hàng</li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <p class="footer-header">Về Store</p>
            <div class="list-item-footer">
                <ul>
                    <li>Giới thiệu về chúng tôi</li>
                    <li>Quy chế hoạt động</li>
                </ul>
            </div>
        </div>
        <div class="col-md-4">
            <p class="footer-header">Hợp tác và liên kết</p>
            <div class="list-item-footer">
                <ul>
                    <li>Mở shop với chúng tôi</li>
                    <li>Chính sách bán hàng</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-12" style="border-top:1px solid #fff; text-align: right; margin-right: 20px;">
        <div class="list-item-footer">
                <ul class="pull-right">
                    <li>Copyright © 2019</li>
                    <li>Địa chi: khu vực 3 phường Thuận An thị xã Long Mỹ Tỉnh Hậu Giang</li>
                    <li>Gmail: leanhtuan9889@gmail.com</li>
                    <li>Điện thoại di dộng: 0941 426 824</li>
                </ul>
            </div>
    </div>
</div>